//SCSS Dùng chung

/**
* Created By : NTHIEU (14/06/2021)
*/

// #region Declare
@font-face {
    font-family: notosans-bold;
    src: url("../../../assets/fonts/notosans-bold.3ede5aff.woff2");
}

@font-face {
    font-family: notosans-italic;
    src: url("../../../assets/fonts/notosans-italic.1c1aaac9.woff2");
}

@font-face {
    font-family: notosans-regular;
    src: url("../../../assets/fonts/notosans-regular.2cb88a13.woff2");
}

@font-face {
    font-family: notosans-semibold;
    src: url("../../../assets/fonts/notosans-semibold.df3e6dc4.woff2");
}

// #endregion
body {
    margin: 0;
    font-family: notosans-regular;
    font-size: 13px;
}

a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

li {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}

select {
    border-radius: 4px;
    width: 100%;
    height: 32px;
    padding-left: 10px;
    padding-right: 16px;
    box-sizing: border-box;
    border: 1px solid #babec5;
}

select:focus {
    border: 1px solid #2ca01c;
    outline-color: #2ca01c;
}

select option {
    width: 100%;
    height: 32px;
}

.pointer {
    cursor: pointer;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.4s;
}

.zoomIn-1 {
    animation-name: zoomIn;
    animation-duration: 0.2s;
}

@keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, 180deg);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

input[type="checkbox"] {
    &:checked+label {
        animation-name: rotateIn;
        animation-duration: 0.3s;
        border: 1px solid #2ca01c;
    }
}

input[type="date"] {
    padding-right: 5px;
    font-style: italic;
    text-transform: uppercase;
    color: #babec5;
}

.visible {
    color: #000 !important;
    font-style: normal !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #babec5;
    opacity: 1;
    display: block;
    background: url("../../../assets/img/Sprites.64af8f61.svg") no-repeat -128px -310px;
    width: 14px;
    height: 16px;
    border-width: thin;
}